name: ci

on:
  pull_request:
    tags:
      - "v*.*.*"
 push:
   tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/food-server
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      VERSION: ${GITHUB_REF#refs/*/}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get version
        id: prepare
        run: |
          echo ::set-output name=version::${GITHUB_REF#refs/*/}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/food-server:latest,${{ secrets.DOCKER_USERNAME }}/food-server:${{steps.prepare.outputs.version}}
