name: Docker Image CI

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/food-server
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - name: Install libraries
        run: apt-get install ld-linux-armhf
      - name: Checkout the code
        uses: actions/checkout@v1
      - name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: Prepare
        if: success()
        id: prepare
        run: |
          echo ::set-output name=docker_image::${DOCKER_REGISTRY}/${DOCKER_IMAGE}   
          echo ::set-output name=version::${GITHUB_REF#refs/*/}
      - name: Docker Login
        if: success()
        run: |
          echo "${DOCKER_PASSWORD}" | docker login ${DOCKER_REGISTRY} --username "${DOCKER_USERNAME}" --password-stdin
      - name: list files
        run: ls
      - name: Run Buildx (push image)
        if: success()
        run: |
          docker buildx build \
          --platform linux/arm/v7,linux/arm64/v8,linux/amd64 \
          -t ${{steps.prepare.outputs.docker_image}}:latest \
          -t ${{steps.prepare.outputs.docker_image}}:${{steps.prepare.outputs.version}} \
          --output type=image,push=true \
          .
